@model Innovation_Admin.UI.Models.APAccountType.CreateAPAccountTypeDto

@{
    ViewData["Title"] = "Create AP Account Type";
    Layout = "_AdminHomePage";
}

<head>
    <link href="~/css/billingmethodtype/createbillingmethodtypee.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <h1>Create AP Account Type</h1>

    <div class="form-container">
        <form id="createAPAccountTypeForm" asp-action="CreateAPAccountType" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name <span class="text-danger">*</span></label>
                <input asp-for="Name" id="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="button-container">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="APAccountType" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>


    <script src="~/js/APAccountType/CreateAPAccountType.js"></script>

