@model Innovation_Admin.UI.Models.CorrespondenceNote.CreateCorrespondenceNoteDto

@{
    Layout = "_AdminHomePage";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>
<h1>Create Correspondence Note</h1>

<div class="d-flex justify-content-center align-items-start min-vh-100">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form id="createCorrespondenceNoteForm" asp-action="CreateCorrespondenceNote" novalidate>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label">Note<span class="text-danger">*</span></label>
                        <input asp-for="Note" class="form-control" maxlength="51" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary btn-lg flex-fill">Create</button>
                        <a asp-action="CorrespondenceNotes" class="btn btn-secondary btn-lg flex-fill">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<link href="~/css/correspondencenote/createcorrespondencenote.css" rel="stylesheet" />
<script src="~/js/correspondencenote/createcorrespondencenote.js"></script>
