@model Innovation_Admin.UI.Models.DoNotTakeGroup.DoNotTakeGroupDto

@{
    ViewData["Title"] = "CreateDoNotTakeGroup";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link href="~/css/DoNotTakeGroup/CreateDoNotTakeGroup.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <h1>Create Group</h1>
    <div class="container">
        <div class="form-container col-md-6">
            <form id="createGroupForm" asp-action="CreateDoNotTakeGroup">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:none">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GroupCode" class="control-label"></label>
                    <input id="groupCode" asp-for="GroupCode" class="form-control" maxlength="10" />
                    <span asp-validation-for="GroupCode" class="text-danger"></span>
                    <div id="groupCodeError" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label asp-for="GroupName" class="control-label"></label>
                    <input id="groupName" asp-for="GroupName" class="form-control" maxlength="50" onkeypress="return onlyAlphabets(event,this); " />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                    <div id="groupNameError" class="error-message"></div>
                </div>

                <div class="btn-container">
                    <input type="submit" value="Create" class="btn btn-primary test" />
                    <a asp-action="DoNotTakeGroup" class="btn btn-secondary test">Back</a>
                </div>
            </form>
        </div>
    </div>
    </body>
    <script src="~/js/DoNotTakeGroups/CreateDoNotTakeGroups.js"></script>
