 @model Innovation_Admin.UI.Models.SysPrefGeneralBehaviour.CreateSysPrefGeneralBehaviourDto

@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link href="~/css/pharmacygroup/createpharmacygroup.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <h1>Create System Preference General Behaviour</h1>

    <div class="form-container">
        <form id="createForm" asp-action="CreateSysPrefGeneralBehaviour">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Auto_Change_Claim_Status" /> Auto Change Claim Status
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Receipting" /> Claim Status Receipting
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Payment" /> Claim Status Payment
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Zero_Paid" /> Claim Status Zero Paid
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Procare_Claim_Load" /> Claim Status Procare Claim Load
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Logout_Redirect" /> Logout Redirect
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Records_Locked_Seconds" class="control-label">Records Locked Seconds <span class="text-danger">*</span></label>
                <input asp-for="Records_Locked_Seconds" class="form-control" />
                <span asp-validation-for="Records_Locked_Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Timeout" class="control-label">User Timeout <span class="text-danger">*</span></label>
                <input asp-for="User_Timeout" class="form-control" />
                <span asp-validation-for="User_Timeout" class="text-danger"></span>
            </div>

            <div class="button-container">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="SysPrefGeneralBehaviour" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/CreateSysPrefGeneralBehaviour.js"></script>zz
}
