@model Innovation_Admin.UI.Models.BillingMethodType.CreateBillingMethodTypeDto

@{
    ViewData["Title"] = "CreateBillingMethodType";
    Layout = "_AdminHomePage";
}

<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/billingmethodtype/createbillingmethodtypee.css" rel="stylesheet" />
</head>

<body>
    <h1>Create Billing Method Type</h1>

    <div class="form-container">
        <form id="createBillingMethodTypeForm" asp-action="CreateBillingMethodType" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name <span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" id="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="button-container">
                <button type="submit" class="btn btn-primary btn-lg flex-fill">Create</button>
                <a asp-action="BillingMethodType" class="btn btn-secondary btn-lg flex-fill">Back</a>
            </div>
        </form>
    </div>



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="~/js/BillingMethodType/CreateBillingMethodType.js"></script>
</body>
