@model Innovation_Admin.UI.Models.SysPrefCompany.SysPrefCompanyDto

<h1>Create System Preference Company</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSysPrefCompany" method="post">
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermForPharmacy" class="control-label"></label>
                <input asp-for="TermForPharmacy" class="form-control" />
                <span asp-validation-for="TermForPharmacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SysPrefCompany">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
