@model Innovation_Admin.UI.Models.SysPrefSecurityEmail.CreateSysPrefSecurityEmailDto

@{
    ViewData["Title"] = "CreateSysPrefSecurityEmail";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link href="~/css/receiptbatchsource/createreceiptbatchsource.css" rel="stylesheet" />
 
</head>
<h1>Create System Preference Security Email</h1>

<body>
    <div class="form-container">
       

        <form id="createSysPrefSecurityEmailForm" asp-action="CreateSysPrefSecurityEmail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DefaultFromName" class="control-label">Default From Name <span class="text-danger">*</span></label>
                <input asp-for="DefaultFromName" id="DefaultFromName" class="form-control" />
                <span asp-validation-for="DefaultFromName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DefaultFromAddress" class="control-label">Default From Address <span class="text-danger">*</span></label>
                <input asp-for="DefaultFromAddress" id="DefaultFromAddress" class="form-control" />
                <span asp-validation-for="DefaultFromAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DefaultReplyToAddress" class="control-label">Default Reply To Address <span class="text-danger">*</span></label>
                <input asp-for="DefaultReplyToAddress" id="DefaultReplyToAddress" class="form-control" />
                <span asp-validation-for="DefaultReplyToAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DefaultReplyToName" class="control-label">Default Reply To Name <span class="text-danger">*</span></label>
                <input asp-for="DefaultReplyToName" id="DefaultReplyToName" class="form-control" />
                <span asp-validation-for="DefaultReplyToName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label">Status <span class="text-danger">*</span></label>
                <input asp-for="Status" id="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="button-container">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="SysPrefSecurityEmail" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>


    <script src="~/js/CreateSysPrefSecurityEmail.js"></script>

