@model Innovation_Admin.UI.Models.DataSource.CreateDataSourceDto

@{
    ViewData["Title"] = "Create DataSource";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>
    <link href="~/css/billingmethodtype/createbillingmethodtypee.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <h1>Create Data Source</h1>

    <div class="form-container">
        <form id="createDataSourceForm" asp-action="CreateDataSource">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name <span class="text-danger">*</span></label>
                <input asp-for="Name" id="Name" class="form-control" maxlength="31" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="button-container">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="DataSource" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>

<script src="~/js/DataSource/CreateDataSource.js"></script>
