@model Innovation_Admin.UI.Models.ReceiptBatchSource.ReceiptBatchSourceDto
@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}
<head>
    <link href="~/css/ReceiptBatchSource/EditReceiptBatchSource.css" rel="stylesheet" />
</head>
<body>
    <h1>Edit Receipt Batch</h1>

    <div class="form-container">
        <form id="receiptBatchForm" asp-action="EditReceiptBatchSource">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="Id" class="control-label"></label>
                <input id="Id" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" maxlength="60" onkeypress="return onlyAlphabets(event,this);" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="position: relative;">
                <label asp-for="Type" class="control-label"></label>
                <div style="display: flex; align-items: center;">
                    <input id="Type" asp-for="Type" class="form-control readonly" readonly />
                    <button type="button" class="dropdown-button" onclick="toggleDropdown()">▼</button>
                </div>
                <div id="dropdownMenu" class="dropdown-menu">
                    <a href="#" onclick="selectType('Banking')">Bank</a>
                    <a href="#" onclick="selectType('CreditCard')">Cedit Card</a>
                    <a href="#" onclick="selectType('UPI')">UPI</a>
                    <a href="#" onclick="selectType('EDI')">EDI</a> 
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="@* form-group *@ button-container">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ReceiptBatchSource" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/ReceiptBatch/EditReceiptBatch.js"></script>

