@model Innovation_Admin.UI.Models.SysPrefCompany.SysPrefCompanyDto
@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<!-- Include the script -->
<script src="~/Scripts/custom-validation.js"></script>

<div class="container-fluid mt-4">
    <div class="row justify-content-center align-items-center" style="height: 70vh;">
        <div class="col-md-6">
            <div class="text-center mb-4">
                <h1>Edit System Preference</h1>
            </div>
            <form asp-action="EditSysPrefCompany" method="post" novalidate style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" onsubmit="return validateForm()">
                @Html.HiddenFor(model => model.CompanyID)

                <div class="form-group mb-4">
                    <label asp-for="CompanyName" class="control-label">Company Name</label>
                    <input asp-for="CompanyName" id="CompanyName" class="form-control" maxlength="60" />
                    <span id="companyNameError" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="TermForPharmacy" class="control-label">Term For Pharmacy</label>
                    <input asp-for="TermForPharmacy" id="TermForPharmacy" class="form-control" maxlength="60" />
                    <span id="termForPharmacyError" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a asp-action="SysPrefCompany" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/js/EditSysPrefCompany.js"></script>