@model Innovation_Admin.UI.Models.PharmacyType.PharmacyTypeDto

@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/correspondencenote/editcorrespondencenote.css" rel="stylesheet" />
</head>

<body>
    <h1 class="text-center">Edit Pharmacy Type</h1>

    <div class="form-container">
        <form asp-action="EditPharmacyType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="display:none" class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description<span class="text-danger"> *</span></label>
                <input asp-for="Description" class="form-control" maxlength="51" onkeypress="return onlyAlphabets(event, this);" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Code<span class="text-danger"> *</span></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
          
            <div class="button-container">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="PharmacyTypes" class="btn btn-secondary"> Back </a>

            </div>
        </form>
    </div>

</body>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 32)
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>
