@model Innovation_Admin.UI.Models.AdminRole.AdminRoleDto

@{
    ViewData["Title"] = "EditAdminRole";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}
<head>
    <link href="~/css/receiptbatchsource/editreceiptbatchsource.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center">Edit Admin Role</h1>

    <div class="form-container">
        <form id="editAdminRoleForm" asp-action="EditAdminRole" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="display:none;">
                <label asp-for="Role_ID" class="control-label">ID</label>
                <input id="Role_ID" asp-for="Role_ID" class="form-control" />
                <span asp-validation-for="Role_ID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role_Name" class="control-label">Role Name <span class="text-danger">*</span></label>
                <input id="Role_Name" asp-for="Role_Name" class="form-control" maxlength="51" onkeypress="return onlyAlphabets(event, this);" />
                <span asp-validation-for="Role_Name" class="text-danger"></span>
                <span class="text-danger" id="Role_Name_error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description <span class="text-danger">*</span></label>
                <input id="Description" asp-for="Description" class="form-control" maxlength="101" onkeypress="return onlyAlphabets(event, this);" />
                <span asp-validation-for="Description" class="text-danger"></span>
                <span class="text-danger" id="Description_error"></span>
            </div>

            <div class="button-container">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="AdminRole" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>

<script src="~/js/EditAdminRole.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
