@model Innovation_Admin.UI.Models.AdminRole.AdminRoleDto

@{
    ViewData["Title"] = "EditAdminRole";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<h1 class="text-center">Edit Admin Role</h1>

<hr />
<div class="row">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center">
        <form asp-action="EditAdminRole" class="w-100">
            <div class="text-danger">
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                    <div class="alert alert-danger">
                        <p>Please fix the errors below:</p>
                        <ul>
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    </div>
                }
            </div>

            <div class="form-group mb-3" style="display:none">
                <label asp-for="Role_ID" class="control-label"></label>
                <input asp-for="Role_ID" class="form-control" />
                <span asp-validation-for="Role_ID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Role_Name" class="control-label">
                    @Html.DisplayNameFor(model => model.Role_Name) <span class="text-danger">*</span>
                </label>
                <input asp-for="Role_Name" class="form-control" Maxlength="20" required />
                <span asp-validation-for="Role_Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">
                    @Html.DisplayNameFor(model => model.Description) <span class="text-danger">*</span>
                </label>
                <input asp-for="Description" class="form-control" maxlength="60" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary mr-2" />
                <a asp-action="AdminRole" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

<style>
    .form-group label .text-danger {
        font-weight: bold;
    }
</style>
