@model Innovation_Admin.UI.Models.SysPrefCompany.SysPrefCompanyDto
@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}
<head>
    <link href="~/css/ReceiptBatchSource/EditReceiptBatchSource.css" rel="stylesheet" />
</head>

<body>

    <h1>Edit System Preference</h1>
    <div class="form-container">
   
            <form asp-action="EditSysPrefCompany" method="post"   onsubmit="return validateForm()">
                @Html.HiddenFor(model => model.CompanyID)

                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label">Company Name</label>
                    <input asp-for="CompanyName" id="CompanyName" class="form-control" maxlength="60" onkeypress="return onlyAlphabets(event,this);"  />
                    <span id="companyNameError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TermForPharmacy" class="control-label">Term For Pharmacy</label>
                    <input asp-for="TermForPharmacy" id="TermForPharmacy" class="form-control" maxlength="60" onkeypress="return onlyAlphabets(event,this);"  />
                    <span id="termForPharmacyError" class="text-danger"></span>
                </div>
            <div class="button-container">
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a asp-action="SysPrefCompany" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    <script src="~/js/systempreference/editsysprefcompany.js"></script>
</body>
