@model Innovation_Admin.UI.Models.SysPrefFinancial.SysPrefFinancialDto

@{
    ViewData["Title"] = "EditSysPrefFinancial";
}

<h1>EditSysPrefFinancial</h1>

<h4>SysPrefFinancialDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSysPrefFinancial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="FinancialID" class="control-label"></label>
                
                <span asp-validation-for="FinancialID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <input asp-for="CompanyID" class="form-control" />
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div> *@
            <input type="hidden" asp-for="FinancialID" class="hidden" />
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control" asp-items="@ViewBag.CompanyList"></select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DefaultPaymentMethod" class="control-label"></label>
                <input asp-for="DefaultPaymentMethod" class="form-control" />
                <span asp-validation-for="DefaultPaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCheckNo" class="control-label"></label>
                <input asp-for="LastCheckNo" class="form-control" />
                <span asp-validation-for="LastCheckNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimAgeCollectionStart" class="control-label"></label>
                <input asp-for="ClaimAgeCollectionStart" class="form-control" />
                <span asp-validation-for="ClaimAgeCollectionStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimAgeCollectionEnd" class="control-label"></label>
                <input asp-for="ClaimAgeCollectionEnd" class="form-control" />
                <span asp-validation-for="ClaimAgeCollectionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultReceiptBatchDescription" class="control-label"></label>
                <input asp-for="DefaultReceiptBatchDescription" class="form-control" />
                <span asp-validation-for="DefaultReceiptBatchDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimPaidThreshold" class="control-label"></label>
                <input asp-for="ClaimPaidThreshold" class="form-control" />
                <span asp-validation-for="ClaimPaidThreshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimStatusWriteOff" class="control-label"></label>
                <input asp-for="ClaimStatusWriteOff" class="form-control" />
                <span asp-validation-for="ClaimStatusWriteOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysToBlock" class="control-label"></label>
                <input asp-for="DaysToBlock" class="form-control" />
                <span asp-validation-for="DaysToBlock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
