@model Innovation_Admin.UI.Models.DataSource.DataSourceDto

@{
    ViewData["Title"] = "EditDataSource";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<link rel="stylesheet" href="~/css/DataSource/EditDataSource.css" />


    <h1>Edit Data Source</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="EditDataSource" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="display:none">
                            <label asp-for="ID" class="control-label">ID</label>
                            <input asp-for="ID" class="form-control" readonly />
                            <span asp-validation-for="ID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name<span class="text-danger">*</span></label>
                        <input asp-for="Name" class="form-control" maxlength="31" id="Name" />
                            <span id="nameError" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary btn-lg">Save</button>
                            <a asp-action="DataSource" class="btn btn-secondary btn-lg">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript" src="~/js/DataSource/EditDataSource.js">

</script>



