@model Innovation_Admin.UI.Models.RemittanceType.RemittanceTypeDto

@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/correspondencenote/editcorrespondencenote.css" rel="stylesheet" />
</head>

<body>
    <h1 class="text-center mb-4">Edit Remittance Type</h1>

    <div class="form-container">
        <form id="editRemittanceTypeForm" asp-action="EditRemittanceType" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="display:none;">
                <label asp-for="Id" class="control-label">ID</label>
                <input id="Id" asp-for="Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name <span class="text-danger">*</span></label>
                <input id="Name" asp-for="Name" class="form-control" maxlength="31" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="button-container">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="RemittanceTypes" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/remittancetypess/editremittancetype.js"></script>
