@* @model Innovation_Admin.UI.Models.SysPrefGeneralBehaviour.SysPrefGeneralBehaviourDto

@{
    ViewData["Title"] = "EditSysPrefGeneralBehaviour";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<h1>Edit System Preference General Behaviour</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSysPrefGeneralBehaviour">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Preference_ID" class="control-label">Id<span style="color: red;">*</span></label>
                <input asp-for="Preference_ID" class="form-control" new { readonly="readonly" } />
                <span asp-validation-for="Preference_ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Auto_Change_Claim_Status" /> Auto Change Claim Status
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Receipting" /> Claim Status Receipting
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Payment" /> Claim Status Payment
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Zero_Paid" /> Claim Status Zero Paid
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Procare_Claim_Load" /> Claim Status Procare Claim Load
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Logout_Redirect" /> Logout Redirect
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Records_Locked_Seconds" class="control-label">Records Locked Seconds<span style="color: red;">*</span></label>
                <input asp-for="Records_Locked_Seconds" class="form-control" />
                <span asp-validation-for="Records_Locked_Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Timeout" class="control-label">User Timeout<span style="color: red;">*</span></label>
                <input asp-for="User_Timeout" class="form-control" />
                <span asp-validation-for="User_Timeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SysPrefGeneralBehaviour">Back to List</a>
</div>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 *@


@model Innovation_Admin.UI.Models.SysPrefGeneralBehaviour.SysPrefGeneralBehaviourDto

@{
    ViewData["Title"] = "EditSysPrefGeneralBehaviour";
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<h1>Edit System Preference General Behaviour</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSysPrefGeneralBehaviour">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Preference_ID" class="control-label">Id<span style="color: red;">*</span></label>
                <input asp-for="Preference_ID" class="form-control" readonly="readonly" />
                <span asp-validation-for="Preference_ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Auto_Change_Claim_Status" /> Auto Change Claim Status
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Receipting" /> Claim Status Receipting
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Payment" /> Claim Status Payment
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Zero_Paid" /> Claim Status Zero Paid
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Claim_Status_Procare_Claim_Load" /> Claim Status Procare Claim Load
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Logout_Redirect" /> Logout Redirect
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Records_Locked_Seconds" class="control-label">Records Locked Seconds<span style="color: red;">*</span></label>
                <input asp-for="Records_Locked_Seconds" class="form-control" />
                <span asp-validation-for="Records_Locked_Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Timeout" class="control-label">User Timeout<span style="color: red;">*</span></label>
                <input asp-for="User_Timeout" class="form-control" />
                <span asp-validation-for="User_Timeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SysPrefGeneralBehaviour">Back to List</a>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
