@{
    Layout = "~/Views/Shared/_AdminHomePage.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .admin-info {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .admin-info h2 {
                color: #333;
            }

            .admin-info p {
                color: #666;
            }

        .admin-images {
            margin-top: 20px;
            

        }

            .admin-images img {
                
                justify-content:center;
                width: 100%;
                max-width: 300px;
                margin-bottom: 10px;
                border-radius: 140px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
    </style>
</head>
<body>

    <div class="admin-images" >
        <img src="~/Image/image_2024_05_24T10_38_20_592Z.png" alt="Admin Image 1">


    </div>
    <div class="container">
        <div class="admin-info">
            <h2>Welcome to Innvoation  Admin</h2>
            <p>This is your Innovation Admin home page. Here, you can manage various aspects of your system.</p>
         
     
        </div>

        
    </div>
</body>
</html>
