.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form-container {
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.test {
    width: 48%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}
