<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Innovation_Admin.UI.styles.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;  
        }

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
            height: 100vh;  
            overflow: hidden;  
        }

        .sidebar {
            position: fixed; 
            top: 0;
            left: 0;
            width: 250px; /* Set the width of the sidebar */
            height: 100%;
            background-color: #343a40; /* Sidebar background color */
            color: white; /* Sidebar text color */
            padding-top: 20px; /* Optional: Padding for top */
            z-index: 1000; /* Ensure sidebar stays above content */
            overflow-y: auto; /* Enable vertical scrolling if needed */
        }

        .content {
            margin-left: 250px; /* Adjust margin to accommodate sidebar width */
            padding: 20px; /* Optional: Add padding to content */
            height: 100%;
            overflow-y: auto; /* Enable vertical scrolling */
        }

        .nav-link {
            color: white !important; /* Override Bootstrap's nav-link color */
        }

            .nav-link:hover {
                color: #ccc !important; /* Hover color for nav-link */
            }

        #submenu1 .nav-link {
            color: yellowgreen !important;
        }

            #submenu1 .nav-link:hover
            {
                color : lightgreen !important;
            }

        #submenu3 .nav-link {
            color: yellowgreen !important;
        }

        #submenu3 .nav-link:hover {
                color: lightgreen !important;
        }
        #submenu4 .nav-link {
            color: yellowgreen !important;
        }

        #submenu4 .nav-link:hover {
                color: lightgreen !important;
        }

        .active, .show > .nav-link {
            background-color: #495057 !important;
        }

        .content-area {
            padding: 20px;
            height: calc(100vh - 40px); 
            overflow-y: auto;
        }



      
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- Sidebar -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark sidebar">
                <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white">
                    <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Innovation Admin</span>
                    </a>

                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


                        <li class="nav-item">
                            <a href="/Common/HomePage" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>



                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle list-color">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">System Preference</span>
                            </a>


                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">

                                <li class="w-100">
                                    <a href="/Common/SysPrefCompany" class="nav-link px-0 ">
                                        <i class="bi bi-building"></i> <span class="d-none d-sm-inline">System Company Preference</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Common/SysPrefGeneralBehaviour" class="nav-link px-0 ">
                                        <i class=" bi bi-tools"></i> <span class="d-none d-sm-inline">System General Behaviour</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Common/AdminUser" class="nav-link px-0">
                                        <i class="bi bi-person-bounding-box"></i> <span class="d-none d-sm-inline">Admin User</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/AdminRole" class="nav-link px-0">
                                        <i class="bi bi-person"></i> <span class="d-none d-sm-inline">Admin Role</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/SysPrefFinancial" class="nav-link px-0">
                                        <i class="bi bi-cash"></i> <span class="d-none d-sm-inline">System Preference Financial</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/SysPrefSecurityEmail" class="nav-link px-0">
                                        <i class="bi bi-shield-lock"></i> <span class="d-none d-sm-inline">System Preference Security Email</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle list-color">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Lookup Tables</span>
                            </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li>
                                    <a href="/Common/GetAllAccountManagers" class="nav-link px-0 submenu-link">
                                        <i class="bi bi-people"></i> <span class="d-none d-sm-inline">Account Manager</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/PharmacyGroups" class="nav-link px-0">
                                        <i class="bi bi-tags"></i> <span class="d-none d-sm-inline">Pharmacy Groups</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/Quotes" class="nav-link px-0">
                                        <i class="bi bi-chat-right-quote"></i> <span class="d-none d-sm-inline">Quotes</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/DataSource" class="nav-link px-0">
                                        <i class="bi bi-database"></i> <span class="d-none d-sm-inline">Data Source</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/ReceiptBatchSource" class="nav-link px-0">
                                        <i class="bi bi-file-earmark-text"></i> <span class="d-none d-sm-inline">Receipt Batch Source</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/RemittanceTypes" class="nav-link px-0">
                                        <i class="bi bi-cash-coin"></i> <span class="d-none d-sm-inline">Remittance Type</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Common/CorrespondenceNotes" class="nav-link px-0">
                                        <i class="bi bi-chat-dots"></i> <span class="d-none d-sm-inline">Correspondence Notes</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Common/APAccountType" class="nav-link px-0">
                                        <i class="bi bi-wallet2"></i> <span class="d-none d-sm-inline">AP Account Type</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Common/BillingMethodType" class="nav-link px-0">
                                        <i class="bi bi-credit-card"></i> <span class="d-none d-sm-inline">Billing Method Type</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Common/DoNotTakeGroup" class="nav-link px-0">
                                        <i class="bi bi-people"></i> <span class="d-none d-sm-inline">Do No Take Groups</span>
                                    </a>
                                </li>
                            </ul>
                        </li>




                        <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle list-color">
                                <i class=" bi bi-file-earmark-text"></i> <span class="ms-1 d-none d-sm-inline">Manage Templates</span>
                            </a>


                            <ul class="collapse nav flex-column ms-1 " id="submenu4" data-bs-parent="#menu">
                                <li>
                                    <a href="/Common/Templates" class="nav-link px-0">
                                        <i class="bi bi-file-earmark"></i> <span class="d-none d-sm-inline">Templates</span>
                                    </a>
                                </li>

                            </ul>
                        </li>



                    </ul>



                    <hr>

                    <div class="pb-4 logout-container">
                        <a href="@Url.Action("Logout","Account")" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>

            <!-- Content Area -->
            <div class="col py-3 content">
                <div class="content-area">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
