h1 {
    text-align: center;
}

.add-div {
    height: 50px;
    margin: 0 20px;
}

.table-responsive {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.btn-sort {
    margin-left: 10px;
}

body {
    margin: 0px;
}
